svg{
	border:1px solid;
	border-radius: 3px;
	background-color: lightyellow;
}

body{
	background-color: #dfdfdf;
}

circle{
	stroke: black;
}

.grid{
	stroke: grey;
	opacity: .3;
}

.line{
	stroke: black;
	fill:none;
}

.chartType{
	border:2px solid;
	width: 200px;
	margin-bottom: 2px;
	background-color: white;
	font-size: 20px;
}

.chartType:hover{
	cursor: pointer;
	background-color: grey;
	color: white;
}