path{
	stroke: steelblue;
	stroke-width: 2px;
}

circle{
	stroke: steelblue;
	fill: white;
	stroke-width: 2px;
}

.yAxis path{
	stroke: black;
}
.xAxis path{
	stroke: black;
}

.tick line{
	stroke: lightgrey;
}

.normalLine{
	stroke:darkred;
}
.sineLine{
	stroke:darkblue;
}

#container svg{
	border: 1px solid black;
}